{:source-paths
 ["src"
  "test"
  "firebase"]

 :dependencies
 [[reagent "1.2.0"]
  [re-frame "1.4.3"]
  [cider/cider-nrepl "0.45.0"]
  [tongue "0.4.4"]]

 :dev-http
   {3020 "firebase/public"}

 :builds
 {:web {:target :browser
        :output-dir "firebase/public/js"
        :asset-path "/js"
        :module-hash-names true

        :compiler-options
        {;; set this to solve the "failed to convert sources" issue in firestore
         :output-feature-set :es7}


        :dev {:modules {:main {:entries [dev.core]
                               :init-fn dev.core/init!}}

              :closure-defines {dev.firebase.core/use-auth-emulator? true
                                dev.firebase.core/use-firestore-emulator? true
                                dev.firebase.core/use-storage-emulator? false
                                dev.firebase.core/use-functions-emulator-from-web? false}
              :build-hooks [(dev.deploy/reset-for-dev-hook)]
}

        :release {:modules {:main {:entries [bible.web.core]
                                   :init-fn bible.web.core/init!}}
                  :build-hooks [(dev.deploy/reset-for-dev-hook) (dev.deploy/app-post-build-release-hook)]}}

  #_#_:functions {:target           :node-library
                  :js-options       {:js-package-dirs ["firebase/functions/node_modules"]}
                  :compiler-options {:infer-externs :auto}
                  :output-to        "firebase/functions/index.js"
                  :exports-var      feedme.functions/exports}}}
