.page-loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask:linear-gradient(0deg,#000 55%,#0000 0) bottom/100% 18.18%;
  background:
    linear-gradient(hsl(171deg,100%,41%) 0 0) bottom/100% 0% no-repeat
    #ddd;
  animation: l8 2s infinite steps(7);
}
@keyframes l8 {
  100% {background-size:100% 115%}
}

@media only screen and (min-width: 750px) {
  .hover-me:hover {
    background-color: hsl(171, 100%, 96%);
  }
}
