rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /reading-lists/{readling_list_id} {
      allow read: if request.auth != null && request.auth.uid == resource.data["user-id"];
      allow create, update: if request.auth != null && request.auth.uid == request.resource.data["user-id"];
      allow delete: if false;
    }

    match /read-events/{read_event_id} {
      allow read, update, delete: if false;
      allow create: if request.auth != null && request.auth.uid == request.resource.data["user-id"];
    }

    match /projections/{projection_id} {
      allow read: if request.auth != null && request.auth.uid == resource.data["user-id"];
      allow create, update: if request.auth != null && request.auth.uid == request.resource.data["user-id"];
      allow delete: if false;
    }

    match /preferences/{preferences_id} {
      allow read: if request.auth != null && request.auth.uid == resource.data["user-id"];
      allow create, update: if request.auth != null && request.auth.uid == request.resource.data["user-id"];
      allow delete: if false;
    }

  }
}